@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
$heading-font:'Marck Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$title-font:'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
$primary-font:'Dosis', sans-serif;