// our css code will go here

@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';

// nesting tags
nav {
    background-color: $darker-background;
    ul {
        margin: 50px;
        padding: 15px;
        position: relative;
        tab-size: 4px;
        li {
            float: right;
            a {
                text-decoration: none;
                font-family: $primary-font;
                color: $white-color;
                text-transform: uppercase;
                float: right;
            }
        }
    }
}

.brand {
    float: left;
    color: $white-color;
    text-align: center;
    text-decoration: underline;
    font-size: 17px;
    text-transform: uppercase;
}

.section-title {
   @include discover-title($secondary-font-color);
}

.h2 {
    text-align: left;
    margin: 60px;
    text-transform: uppercase;
    position: absolute;
    font-size: 40px;
    top: 150px;
    left: 180px;
}

.section-paragraph {
    @include section-paragraph($primary-font-color);
}

.about-us {
    color: $secondary-font-color;
    font-family: $title-font;
    text-transform: uppercase;
    position: absolute;
    top: 500px;
    left: 315px;
}

.image {
        position: absolute;
        top: 150px;
        right: 0px;
        width: 40%;
        float: right;
        padding: 30px;
    }

.star{
    padding: 15px;
    position: absolute;
    top: 250px;
    left: 330px;
     }
     
   
body{
    background-color: $dark-background;
}

@media (min-width: 1024px) {
    body {
        background-color: $white-color;
    }
}